/* step 6 */
      .upload-box 
      {width: 100%;
      max-width: 500px;
      height: 180px;
      border: 2px dashed #0177b4;
      border-radius: 15px;
      margin: 0 auto 20px;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      background: #fff;
      padding: 10px 20px; 
      box-sizing: border-box;
      overflow: auto;}

    .upload-box:hover 
      {background: #eef8ff;}
    
    #uploadInstructions 
      {display: block; 
      text-align: center;}

    #fileInput 
      {display: none;}

    #fileList 
      {list-style: none;
      padding: 0;
      width: 100%;
      text-align: left;
      margin-top: 10px;}
    
    #fileList li
      {display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px}

    #filelist li span
      {overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;}

    .remove-file-btn 
      {border: none;
      background: transparent;
      color: #ff0000;
      cursor: pointer;
      font-size: 16px;}
    
    .step6-text-container p
        {margin-bottom: 0;}